<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> <link rel="stylesheet" href="templates\css\style.css">
    <title>Spravka</title>
</head>
<body>
    <div class="container"><div class="shtamp"><img src="templates\img\shtamp.jpg" alt="shtamp"></div>
        <div class="real">
            <p>СПРАВКА</p>
            <p>о заработной плате и других доходах</p>
            <p>за 1 месяц</p>
        </div>
        <div class="header">
            <p>гр. Шашкова Наталья Геннадьевна</p>
            <p>работающего(ей) на ОАО "Витебские Ковры"</p>
            <p>в качестве: Ткач 6 разряда</p>
        </div>
        <table class="table">
            <tr>
             <th>Месяц</th>
             <th>Заработная плата</th>
             <th>П/Налог</th>
             <th>Пенс. <br> взносы</th>
             <th>Проф. <br> взносы</th>
             <th>Исп. <br> листы</th>
             <th>К выдаче</th>
            </tr>
          <div class="last__item"><div class="ruk">
            <p>Руководитель предприятия ______________________________________________</p>
          </div>
          <div class="glbuh">
            <p>Главный бухгалтер _______________________________________________________</p>
          </div></div>
    </div>
</body>
</html>