<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"><link rel="stylesheet" href="templates\css\style_posob.css">
    <title>Spravka</title>
</head>
<body>
    <div class="container"><div class="shtamp"><img src="templates\img\shtamp.jpg" alt="shtamp"></div>
        <div class="real">
            <p>СПРАВКА</p>
            <p>о заработной плате и других доходах</p>
            <p>за 1 месяц</p>
        </div>
        <div class="header">
            <p>гр. Шашкова Наталья Геннадьевна</p>
            <p>работающего(ей) на ОАО "Витебские Ковры"</p>
            <p>в качестве: Ткач 6 разряда</p>
        </div>
        <table class="table">
            <tr>
             <th rowspan="2">Месяц</th>
             <th rowspan="2">Заработ. плата</th>
             <th rowspan="2">Мат. пом</th>
             <th rowspan="2">Мат. пом. на <br> рожден. ребенка</th>
             <th rowspan="2">Мат. пом. на <br> рожден. ребенка</th>
             <th colspan="5">Пособия по уходу за детьми</th>
             <th rowspan="2">Исп. <br> листы / элементы</th>
             <th rowspan="2">Подоход. налог</th>
             <th rowspan="2">Пенс. взносы</th>
             <th rowspan="2">Проф. взносы</th>
             <th rowspan="2">на руки</th>  
            </tr>
            <tr>
                <th>до 3-х лет</th>
                <th>от 3-х до 18-и</th>
                <th>ед. пособ.на рожд. ребенка</th>
                <th>ед. пособ. до 12 нед.</th>
                <th>дети инвалиды</th>            
            </tr>
          <div class="last__item"><div class="ruk">
            <p>Руководитель предприятия ______________________________________________</p>
          </div>
          <div class="glbuh">
            <p>Главный бухгалтер _______________________________________________________</p>
          </div></div>
    </div>
</body>
</html>